{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="module-content module-search-warp">
	<div class="pos-vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<form class="form-search">
						<input class="form-control" type="text" placeholder="type words then enter" />
						<button></button>
					</form>
				</div>
			</div>
		</div>
	</div><a class="module-cancel" href="#"><i class="fas fa-times"></i></a> </div>
<section class="page-title page-title-8" id="page-title">
	<div class="page-title-wrap bg-overlay bg-overlay-dark-3">
		<div class="bg-section"><img src="{% static "images/page-titles/8.jpg" %}" alt="Background" /></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="title">
						<h1 class="title-heading">Careers</h1>
						<p class="title-desc">We offer products, solutions, and services across the entire energy value chain. We support our customers on their way to a more sustainable future.</p>
						<div class="title-action">
							<a class="btn btn--primary" href="page-contact.html"> <span>get started</span><i class="energia-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcrumb-wrap">
		<div class="container">
			<ol class="breadcrumb d-flex">
				<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">company</a></li>
				<li class="breadcrumb-item active" aria-current="page">Careers</li>
			</ol>
		</div>
	</div>
</section>
<section class="careers careers-1" id="careers">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 offset-lg-3">
				<div class="heading heading-19 text-center">
					<p class="heading-subtitle">Energize Society With Sustainable Energy!</p>
					<h2 class="heading-title">A Leading Supplier Of Solar Materials For Contractors</h2> </div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="carousel owl-carousel carousel-dots" data-slide="3" data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">full time</p>
								<p class="career-place">new york</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Chief Executive Officer</h4>
								<p class="career-desc">A chief executive officer (CEO) is the highest-ranking a company, and their primary responsibilities include making major corporate decisions.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">full time</p>
								<p class="career-place">latin america</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Chief financial Officer</h4>
								<p class="career-desc">A chief executive officer (CEO) is the highest-ranking a company, and their primary responsibilities include making major corporate decisions.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">part time</p>
								<p class="career-place">san francisco</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Global Sales &amp; Marketing</h4>
								<p class="career-desc">These global operations generate a high demand for suitably qualified sales and marketing personnel. The focus of the degree programme.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">full time</p>
								<p class="career-place">new york</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Chief Executive Officer</h4>
								<p class="career-desc">A chief executive officer (CEO) is the highest-ranking a company, and their primary responsibilities include making major corporate decisions.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">full time</p>
								<p class="career-place">latin america</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Chief financial Officer</h4>
								<p class="career-desc">A chief executive officer (CEO) is the highest-ranking a company, and their primary responsibilities include making major corporate decisions.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
					<div class="career-item">
						<div class="career-item-wrap">
							<div class="career-meta">
								<p class="career-type">part time</p>
								<p class="career-place">san francisco</p>
							</div>
							<div class="career-content">
								<h4 class="career-title">Global Sales &amp; Marketing</h4>
								<p class="career-desc">These global operations generate a high demand for suitably qualified sales and marketing personnel. The focus of the degree programme.</p><a class="career-more btn btn--secondary" href="page-contact.html">Apply Now <i class="energia-arrow-right"></i></a> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="about about-2" id="about-2">
	<div class="about-wrapper">
		<div class="video-wrapper">
			<div class="video video-2" id="video-2">
				<div class="bg-section"><img src="{% static "images/video/2.jpg" %}" alt="background" /></div>
				<a class="popup-video btn-video btn-video-2" href="https://www.youtube.com/watch?v=nrJtHemSPW4"> <i class="fas fa-play"></i></a>
			</div>
		</div>
		<div class="about-block-wrapper">
			<div class="about-block">
				<div class="heading heading-1">
					<p class="heading-subtitle heading-subtitle-bg">Complete Commercial And Residential Solar Systems</p>
					<h2 class="heading-title">The Pioneers World Of Solar And Renewable Energy!</h2>
					<p class="heading-desc">Our solar programs encompass a broad range of material sourcing, trade financing and inventory management services to help customers become more profitable by optimizing working capital and increasing liquidity.</p>
					<div class="signature-block"><a class="btn btn--secondary" href="page-about.html">read more <i class="energia-arrow-right"></i></a>
						<div class="signature-body">
							<h6>michael brian</h6>
							<p>co founder</p><img class="signature-img" src="{% static "images/signature/1.png" %}" alt="signature" /> </div>
					</div>
					<div class="advantages-list-holder">
						<div class="row">
							<div class="col-12 col-md-6">
								<p>How can we meet the growing demand for electricity while protecting our climate?</p>
							</div>
							<div class="col-12 col-md-6">
								<ul class="list-unstyled advantages-list">
									<li>Reliabe and performance</li>
									<li>In-time manufacturing</li>
									<li>Solar material financing</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
