{% extends 'base.html' %}

{% load static %}


{% block content %}

         <section class="page-title page-title-10" id="page-title">
            <div class="page-title-wrap bg-overlay bg-overlay-dark-2">
               <div class="bg-section"><img src="assets/images/page-titles/10.jpg" alt="Background" /></div>
               <div class="container">
                  <div class="row">
                     <div class="col-12 col-lg-5">
                        <div class="title">
                           <div class="title-list">
                              <div class="icon"> <i class="flaticon-040-green-energy"></i></div>
                              <div class="icon"> <i class="flaticon-020-factory"></i></div>
                              <div class="icon"> <i class="flaticon-031-nuclear-plant"></i></div>
                           </div>
                           <h1 class="title-heading">our services</h1>
                           <p class="title-desc">We offer products, solutions, and services across the entire energy value chain. We support our customers on their way to a more sustainable future.</p>
                           <div class="title-action"> <a class="btn btn--primary btn--inversed" href="page-contact.html">
                              get started<i class="energia-arrow-right"></i></a><a class="btn btn--bordered btn--white" href="page-about.html">explore our plans</a>
                           </div>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="breadcrumb-wrap">
                           <ol class="breadcrumb breadcrumb-light d-flex">
                              <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Services</li>
                           </ol>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="services services-4 bg-grey" id="services-4">
            <div class="container">
               <div class="heading heading-3 text-center">
                  <div class="row">
                     <div class="col-12 col-lg-6 offset-lg-3">
                        <p class="heading-subtitle">Energize Society With Sustainable Energy!</p>
                        <h2 class="heading-title">A Leading Supplier Of Solar Materials For Manufacturers, Installers & Contractors.</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-004-solar-panel"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">solar panels<br />services</a></h4>
                           <p>The great thing about solar panels is that they do not require a lot of maintenance. However, still important to get them checked regularly</p>
                           <ul class="list-unstyled advantages-list">
                              <li>cleaning of inverter</li>
                              <li>perform shading tests</li>
                              <li>90 days repairs warranty</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-039-wind-mill"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">wind turbines<br />services</a></h4>
                           <p>Wind turbine is an expensive machine, we know very well how important it is that your wind turbine is always up whenever there is wind.</p>
                           <ul class="list-unstyled advantages-list">
                              <li>proactive is better</li>
                              <li>lower costs for you</li>
                              <li>maintenance warranty</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-013-hydro-power"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">hydropower plants<br />services</a></h4>
                           <p>Hydropower systems are capital intensive assets can produce a significant income provided operated and maintained on high standard.</p>
                           <ul class="list-unstyled advantages-list">
                              <li>optimization of assets</li>
                              <li>operation &amp; maintenance</li>
                              <li>digitaliztion &amp; automation</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-004-solar-panel"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">solar panels<br />services</a></h4>
                           <p>The great thing about solar panels is that they do not require a lot of maintenance. However, still important to get them checked regularly</p>
                           <ul class="list-unstyled advantages-list">
                              <li>cleaning of inverter</li>
                              <li>perform shading tests</li>
                              <li>90 days repairs warranty</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-039-wind-mill"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">wind turbines<br />services</a></h4>
                           <p>Wind turbine is an expensive machine, we know very well how important it is that your wind turbine is always up whenever there is wind.</p>
                           <ul class="list-unstyled advantages-list">
                              <li>proactive is better</li>
                              <li>lower costs for you</li>
                              <li>maintenance warranty</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                     <div class="service-panel">
                        <div class="service-icon"><i class="flaticon-013-hydro-power"></i></div>
                        <div class="service-content">
                           <h4><a href="services-turbines.html">hydropower plants<br />services</a></h4>
                           <p>Hydropower systems are capital intensive assets can produce a significant income provided operated and maintained on high standard.</p>
                           <ul class="list-unstyled advantages-list">
                              <li>optimization of assets</li>
                              <li>operation &amp; maintenance</li>
                              <li>digitaliztion &amp; automation</li>
                           </ul>
                           <a class="btn btn--secondary" href="services-turbines.html">read more <i class="energia-arrow-right"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="features features-2 bg-overlay bg-overlay-theme2" id="features-2">
            <div class="bg-section"> <img src="assets/images/background/2.jpg" alt="Background" /></div>
            <div class="container">
               <div class="heading heading-2 heading-light heading-light2">
                  <div class="row">
                     <div class="col-12 col-lg-5">
                        <p class="heading-subtitle">Sustainable, Reliable & Affordable Energy!</p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12 col-lg-5">
                        <h2 class="heading-title">Providing Value To Our ClientsThrough Ongoing Product & Innovation.</h2>
                     </div>
                     <div class="col-12 col-lg-6 offset-lg-1">
                        <p class="heading-desc">While improving the yield and performance of solar energy products, our PV industry experience enables us to provide in-depth material sourcing, financing and supply chain expertise for every step.</p>
                        <p class="heading-desc">Raw polycrystalline silicon for PV manufacturing. Offered in various grades and formats including chunks, chips, powder and ingot.</p>
                        <div class="actions-holder"><a class="btn btn--primary btn--inversed" href="page-contact.html">
                           get started<i class="energia-arrow-right"></i></a><a class="btn btn--bordered btn--white" href="page-about.html">explore our plans</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                           <div class="feature-icon"><i class="flaticon-024-energy"></i></div>
                           <div class="feature-content">
                              <h4>Save Your Money</h4>
                              <p>Save money on utilities or increase the value of your home by installing solar panels as a great option.</p>
                           </div>
                           <a href="page-about.html"><i class="energia-arrow-right"></i> <span>explore more</span> </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                           <div class="feature-icon"><i class="flaticon-028-greenhouse"></i></div>
                           <div class="feature-content">
                              <h4>Home Is Energy</h4>
                              <p>Everyday the sun provides us with abundance of free energy by placing solar panels on your roof.</p>
                           </div>
                           <a href="page-about.html"><i class="energia-arrow-right"></i> <span>explore more</span> </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                           <div class="feature-icon"><i class="flaticon-026-world"></i></div>
                           <div class="feature-content">
                              <h4>Consult &amp; Planning</h4>
                              <p>Our remote industrial solar systems are designed to reliably power our clients critical.</p>
                           </div>
                           <a href="page-about.html"><i class="energia-arrow-right"></i> <span>explore more</span> </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-3">
                     <div class="feature-panel-holder" data-hover="">
                        <div class="feature-panel">
                           <div class="feature-icon"><i class="flaticon-008-plant"></i></div>
                           <div class="feature-content">
                              <h4>Certified Engineers</h4>
                              <p>Our sales engineers on our staff have experience and can design any complete solar system.</p>
                           </div>
                           <a href="page-about.html"><i class="energia-arrow-right"></i> <span>explore more</span> </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="more-features more-features-3">
                        <p>Sustainable, reliable & affordable energy systems, <a href="page-services.html">Find Your Solution Now! </a></p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="contact-panel contact-panel-2">
                  <div class="row">
                     <div class="col-12 col-lg-5 img-card-holder">
                        <div class="img-card img-card-2 bg-overlay bg-overlay-theme">
                           <div class="bg-section"><img src="assets/images/contact/2.jpg" alt="image" /></div>
                           <div class="card-content">
                              <div class="content-top">
                                 <p>As a world wide distributor of solar supplies we endeavor provide fast and knowledgeable service, we can get all the materials you need by sea or air.</p>
                                 <a href="page-contact.html"><i class="energia-arrow-right"></i>global office map</a>
                              </div>
                              <div class="content-bottom">
                                 <ul class="list-unstyled contact-infos">
                                    <li class="contact-info">
                                       <i class="energia-phone-Icon"></i>
                                       <p>Emergency Line: <a href="tel:123-456-7890">(002) 01061245741</a></p>
                                    </li>
                                    <li class="contact-info">
                                       <i class="energia-location-Icon"></i>
                                       <p>Location: <a href="https://demo.zytheme.com/cdn-cgi/l/email-protection#81e8efe7eec1e4efe4f3e6e8e0afe2eeec">Brooklyn, New York, USA </a></p>
                                    </li>
                                    <li class="contact-info">
                                       <i class="energia-clock-Icon"></i>
                                       <p>Mon - Fri: 8:00 am - 7:00 pm	</p>
                                    </li>
                                 </ul>
                                 <a class="btn btn--white" href="page-contact.html">contact us <i class="energia-arrow-right"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-12 col-lg-7">
                        <div class="contact-card">
                           <div class="contact-body">
                              <h5 class="card-heading">Request A Quote</h5>
                              <p class="card-desc">We take great pride in everything that we do, control over products allows us to ensure our customers receive the best quality service.</p>
                              <form class="contactForm" method="post" action="https://demo.zytheme.com/energia/assets/php/contact.php">
                                 <div class="row">
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="select-1">Who will be install system?</label>
                                       <select class="form-control" id="select-1">
                                          <option value="default">local contractor</option>
                                          <option value="AL">foreign contractor </option>
                                       </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="select-2">System completed by?</label>
                                       <select class="form-control" id="select-2">
                                          <option value="default">3:6 months</option>
                                          <option value="AL">6:12 months</option>
                                          <option value="AK">12:24 months</option>
                                       </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="contact-usage">Monthly electric usage in kWh?</label>
                                       <input class="form-control" type="text" id="contact-usage" name="contact-usage" placeholder="1254 KWH" required="" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="select-3">Solar system type?</label>
                                       <select class="form-control" id="select-3">
                                          <option value="default">OffGrid</option>
                                          <option value="AL">OnGrid</option>
                                       </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="select-4">Solar panels place?</label>
                                       <select class="form-control" id="select-4">
                                          <option value="default">huge farm</option>
                                          <option value="AL">small farm</option>
                                       </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                       <label class="form-label" for="select-5">Materials on your roof?</label>
                                       <select class="form-control" id="select-5">
                                          <option value="default">comp shingle</option>
                                          <option value="AL">roof shingle</option>
                                       </select>
                                    </div>
                                    <div class="col-12">
                                       <label class="form-label">Preferred Contact Method</label>
                                       <div class="custom-radio-group" id="custom-radio-group">
                                          <div class="custom-control">
                                             <input class="custom-control-input" type="radio" id="customRadioInline1" name="customRadioInline1" />
                                             <label for="customRadioInline1">all</label>
                                          </div>
                                          <div class="custom-control">
                                             <input class="custom-control-input" type="radio" id="customRadioInline2" name="customRadioInline1" />
                                             <label for="customRadioInline2">email</label>
                                          </div>
                                          <div class="custom-control">
                                             <input class="custom-control-input" type="radio" id="customRadioInline3" name="customRadioInline1" />
                                             <label for="customRadioInline3">phone</label>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <button class="btn btn--secondary w-100">submit request <i class="energia-arrow-right"></i></button>
                                    </div>
                                    <div class="col-12">
                                       <div class="contact-result"></div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>


{% endblock %}