{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="module-content module-search-warp">
	<div class="pos-vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<form class="form-search">
						<input class="form-control" type="text" placeholder="type words then enter" />
						<button></button>
					</form>
				</div>
			</div>
		</div>
	</div><a class="module-cancel" href="#"><i class="fas fa-times"></i></a> </div>
<section class="page-title page-title-7" id="page-title">
	<div class="page-title-wrap bg-overlay bg-overlay-dark-3">
		<div class="bg-section"><img src="{% static "images/page-titles/7.jpg" %}" alt="Background" /></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="title">
						<h1 class="title-heading">Gallery</h1>
						<p class="title-desc">We offer products, solutions, and services across the entire energy value chain. We support our customers on their way to a more sustainable future.</p>
						<div class="title-action">
							<a class="btn btn--bordered btn--white" href="page-contact.html"> <span>our core values</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcrumb-wrap">
		<div class="container">
			<ol class="breadcrumb d-flex">
				<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">company</a></li>
				<li class="breadcrumb-item active" aria-current="page">Gallery</li>
			</ol>
		</div>
	</div>
</section>
<section class="projects projects-gallery">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="d-none">Our Projects Gallery</h3> </div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/1.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/1.jpg" %}" title="wind generators item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/2.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/2.jpg" %}" title="solar panels item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 team-item">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/3.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/3.jpg" %}" title="battery materials item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/4.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/4.jpg" %}" title="hydropower plants item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/5.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/5.jpg" %}" title="fossil resources item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 team-item">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/6.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/6.jpg" %}" title="charge controllers item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/1.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/1.jpg" %}" title="wind generators item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/2.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/2.jpg" %}" title="solar panels item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/3.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/3.jpg" %}" title="battery materials item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/4.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/4.jpg" %}" title="hydropower plants item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item ">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/5.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/5.jpg" %}" title="fossil resources item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4 content d-none team-item">
				<div class="project-panel">
					<div class="project-panel-holder">
						<div class="project-img"><img src="{% static "images/projects/gallery/6.jpg" %}" alt=" item" />
							<div class="project-hover">
								<div class="project-action">
									<div class="project-zoom"><i class="far fa-eye"></i>
										<a class="img-gallery-item" href="{% static "images/projects/full/6.jpg" %}" title="charge controllers item"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center"><a class="btn btn--white justify-content-center" id="loadMore" href="#">Load More</a></div>
		</div>
	</div>
</section>

{% endblock %}