{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="module-content module-search-warp">
	<div class="pos-vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<form class="form-search">
						<input class="form-control" type="text" placeholder="type words then enter" />
						<button></button>
					</form>
				</div>
			</div>
		</div>
	</div><a class="module-cancel" href="#"><i class="fas fa-times"></i></a> </div>
<section class="page-title page-title-5" id="page-title">
	<div class="page-title-wrap bg-overlay bg-overlay-dark-2">
		<div class="bg-section"><img src="{% static "images/page-titles/5.jpg" %}" alt="Background" /></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-5">
					<div class="title">
						<h1 class="title-heading">recognition</h1>
						<p class="title-desc">We offer products, solutions, and services across the entire energy value chain. We support our customers on their way to a more sustainable future.</p>
						<div class="title-action"> <a class="btn btn--primary btn--inversed" href="page-contact.html">
get started<i class="energia-arrow-right"></i></a><a class="btn btn--bordered btn--white" href="page-about.html">explore our plans</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="breadcrumb-wrap">
		<div class="container">
			<ol class="breadcrumb d-flex">
				<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">company</a></li>
				<li class="breadcrumb-item active" aria-current="page">Awards &amp; Recognition</li>
			</ol>
		</div>
	</div>
</section>
<section class="awards awards awards-1" id="awards">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 offset-lg-3">
				<div class="heading heading-17 text-center">
					<p class="heading-subtitle">Energize Society With Sustainable Energy!</p>
					<h2 class="heading-title">A Leading Supplier Of Solar Materials For Contractors</h2> </div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/1.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">family business award</a></h4>
						<p class="award-desc">We believe that partnerships are fundamental to our growth. We'll seek the highest quality global forwarding services.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/2.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">Excellence in Exporting</a></h4>
						<p class="award-desc">When we communicate, we are honest and direct. We won't make excuses, simply offer you a concrete solutions.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/3.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">Top Leading Global Trade</a></h4>
						<p class="award-desc">As a logistics solutions provider, we’ll monitor your logistical objectives and make sure all your logistical activities.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/4.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">Sales Excellence Award </a></h4>
						<p class="award-desc">We believe that partnerships are fundamental to our growth. We'll seek the highest quality global forwarding services.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/5.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">Construction Excellence</a></h4>
						<p class="award-desc">When we communicate, we are honest and direct. We won't make excuses, simply offer you a concrete solutions.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="award">
					<div class="award-img"><img src="{% static "images/awards/6.png" %}" alt="award img" /></div>
					<div class="award-content">
						<h4 class="award-title"><a href="work-single-small-images.html">safety award</a></h4>
						<p class="award-desc">As a logistics solutions provider, we’ll monitor your logistical objectives and make sure all your logistical activities.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="faqs faqs-1 bg-overlay bg-overlay-theme" id="faqs-1">
	<div class="bg-section"> <img src="{% static "images/background/4.jpg" %}" alt="background" /></div>
	<div class="container">
		<div class="heading heading-15 heading-light">
			<div class="row">
				<div class="col-12 col-lg-5">
					<p class="heading-subtitle">Improving The Performance Of Solar Energy.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-5">
					<h2 class="heading-title">Discover Independence Through Using The Power Of Solar Panels!</h2> </div>
				<div class="col-12 col-lg-6 offset-lg-1">
					<p class="heading-desc">Today, our company is one of the most important PV suppliers in the North America and Europe. Our sales offices and warehouses include PV industry experience enables us to provide in-depth material sourcing and supply chain expertise for every step of production and installation process.</p>
					<div class="faqs-action"><a class="btn btn--white" href="page-about.html">learn more <i class="energia-arrow-right"></i></a><a class="btn btn--bordered btn--white" href="page-faqs.html">our core values</a></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-5">
				<div class="img-hotspot img-hotspot-3">
					<div class="img-hotspot-wrap">
						<div class="img-hotspot-bg"> <img src="{% static "images/background/world-map-white.png" %}" alt="image" /></div>
						<div class="img-hotspot-pointers">
							<div class="img-hotspot-pointer" data-spot-x="15%" data-spot-y="29%">
								<div class="pointer-icon"></div>
								<div class="info right" data-info-x="18px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
							</div>
							<div class="img-hotspot-pointer" data-spot-x="48%" data-spot-y="48%">
								<div class="pointer-icon"></div>
								<div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
							</div>
							<div class="img-hotspot-pointer" data-spot-x="68%" data-spot-y="23%">
								<div class="pointer-icon"></div>
								<div class="info left" data-info-x="-160px" data-info-y="-97px"><span>2307 Beverley Rd Brooklyn, New York 11226 U.S.</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 offset-lg-1">
				<div class="accordion accordion-light" id="accordion03">
					<div>
						<div class="card">
							<div class="card-heading"><a class="card-link collapsed" data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-1" href="#collapse01-1">Which Plan Is Right For Me?</a></div>
							<div class="collapse" id="collapse01-1" data-bs-parent="#accordion03">
								<div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
							</div>
						</div>
					</div>
					<div>
						<div class="card">
							<div class="card-heading"><a class="card-link collapsed" data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-2" href="#collapse01-2">Do I have to commit to a contract? </a></div>
							<div class="collapse" id="collapse01-2" data-bs-parent="#accordion03">
								<div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
							</div>
						</div>
					</div>
					<div>
						<div class="card active-acc">
							<div class="card-heading"><a class="card-link  " data-hover="" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse01-3" href="#collapse01-3">What Payment Methods Are Available? </a></div>
							<div class="collapse show" id="collapse01-3" data-bs-parent="#accordion03">
								<div class="card-body">Our staff strives to make each interaction with patients clear, concise, and inviting. Support the important work of Medicsh Hospital by making a much-needed donation today. We will work with you to develop individualised care plans, including management of chronic diseases.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
