{% extends 'base.html' %}

{% load static %}


{% block content %}


<div class="module-content module-search-warp">
	<div class="pos-vertical-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
					<form class="form-search">
						<input class="form-control" type="text" placeholder="type words then enter" />
						<button></button>
					</form>
				</div>
			</div>
		</div>
	</div><a class="module-cancel" href="#"><i class="fas fa-times"></i></a> </div>
<section class="page-title page-title-14" id="page-title">
	<div class="page-title-wrap bg-overlay bg-overlay-dark-3">
		<div class="bg-section"><img src="{% static "images/page-titles/18.jpg" %}" alt="Background" /></div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="title">
						<h1 class="title-heading">Intent To Invest</h1> </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact contact-4" id="contact-4">
	<div class="container">
		<div class="contact-panel contact-panel-3">
			<div class="heading heading-6">
				<p class="heading-subtitle">Improving The Performance Of Solar Energy.</p>
				<h2 class="heading-title">Discover Independence Through Using The Power Of Solar Panels!</h2>
				<p class="heading-desc">We offer products, solutions, and services across the entire energy value chain. We support our customers on their way to a more sustainable future – no matter how far along the journey to energize society with affordable energy systems.</p>
				<div class="advantages-list-holder">
					<div class="row">
						<div class="col-12 col-lg-6">
							<ul class="list-unstyled advantages-list advantages-list-3">
								<li>Reliabe and performance</li>
								<li>Solar material financing</li>
								<li>In-time manufacturing</li>
							</ul>
						</div>
						<div class="col-12 col-lg-6">
							<ul class="list-unstyled advantages-list advantages-list-3">
								<li>50% more energy output</li>
								<li>Built using ntype mono</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="contact-action"><a class="btn btn--primary" href="page-about.html">learn more <i class="energia-arrow-right"></i></a><a class="btn btn--bordered btn--white" href="page-faqs.html">our core values</a></div>
				<div class="contact-quote contact-quote-3"> <img src="{% static "/images/icons/noteicon-2.png" %}" alt="icon" />
					<p>Receive an accurate quote within 3-5 days when you fill out this form. Or, give us a call: <a href="tel:01061245741">(002) 01061245741</a></p>
				</div>
			</div>
			<div class="contact-card">
				<div class="contact-body">
					<h5 class="card-heading">Request for Retail Outlet</h5>
					<p class="card-desc">We take great pride in everything that we do, control over products allows us to ensure our customers receive the best quality service.</p>
					<form class="contactForm" method="POST">
						{% csrf_token %}
						<div class="mb-20">
							<div class="row">
								<div class="col-12">
									<label class="form-label" for="contact-projects">Location </label>
									<textarea class="form-control" id="contact-projects" placeholder="Address of Retail Outlet" name="contact-projects" cols="30" rows="10"> </textarea>
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="survey-no">Survey No.</label> 
									<input class="form-control" type="text" id="survey-no" name="survey_no" placeholder="123/432/4938" required="" />
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="select-2">Located At</label>
									<select class="form-control" id="select-2" name="located_at">
										<option value="WITHIN_CITY_LIMIT">Within City Limit</option>
										<option value="OUTSIDE_CITY_LIMIT">Outside City Limit</option>
									</select>
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-usage">Landmark</label>
									<input class="form-control" type="text" id="contact-usage" name="landmark" placeholder="Nearby Landmark" required="" />
								</div>	
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-usage">Investment (In Lac)</label>
									<input class="form-control" type="text" id="contact-usage" name="investment" placeholder="In Lac" required="" />
								</div>
								<div class="col-12">
									<br>
									<label class="form-label">Minimum Area Requirement is 20 X 20 sq meter for City. <br> And 25 X 25 sq meter for Outside City.</label>
									<div class="custom-radio-group" id="custom-radio-group-1">
										<div class="custom-control">
											<input class="custom-control-input" type="checkbox" id="customRadioInline" name="min_area_requirement" />
											<label for="customRadioInline">I fulfill minimum land area requirement.</label>
										</div>
									</div>
									<br>
								</div>
								<div class="col-12">
									<label class="form-label" for="description">Tell us about your project </label>
									<textarea class="form-control" id="description" placeholder="Add other data" name="description" cols="30" rows="10"> </textarea>
								</div>
							</div>
						</div>
						<div class="mb-20">
							<div class="row">
								<div class="col-12 col-md-6">
									<label class="form-label" for="first_name">First name</label>
									<input class="form-control" type="text" id="first_name" name="first_name" placeholder="Mahmoud" required="" /> </div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="last_name">Last name</label>
									<input class="form-control" type="text" id="last_name" name="last_name" placeholder="Adel" required="" /> </div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="phone_number">Phone</label>
									<input class="form-control" type="text" id="phone_number" name="phone_number" placeholder="Phone" required="" /> </div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="emai">Email</label>
									<input class="form-control" type="email" id="email" name="email" placeholder="Email" required="" /> </div>
							</div>
						</div>
						<div class="mb-20">
							<div class="row">
								<div class="col-12">
									<label class="form-label">Preferred Contact Method</label>
									<div class="custom-radio-group" id="custom-radio-group">
										<div class="custom-control">
											<input class="custom-control-input" type="radio" id="customRadioInline1" name="preferred_contact_type" />
											<label for="customRadioInline1">all</label>
										</div>
										<div class="custom-control">
											<input class="custom-control-input" type="radio" id="customRadioInline2" name="preferred_contact_type" />
											<label for="customRadioInline2">email</label>
										</div>
										<div class="custom-control">
											<input class="custom-control-input" type="radio" id="customRadioInline3" name="preferred_contact_type" />
											<label for="customRadioInline3">phone</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-12">
									<label class="form-label" for="contact-address">Address</label>
									<input class="form-control" type="text" id="contact-address" name="address" placeholder="write your address" required="" /> </div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-city">City</label>
									<input class="form-control" type="text" id="contact-city" name="city" placeholder="write city" required="" /> </div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-state">State</label>
									<input class="form-control" type="text" id="contact-state" name="state" placeholder="state" required="" />
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-zip">ZIP code</label>
									<input class="form-control" type="text" id="contact-zip" name="zip_code" placeholder="2145" required="" />
								</div>
								<div class="col-12 col-md-6">
									<label class="form-label" for="contact-country">Country</label>
									<input class="form-control" type="text" id="contact-usage" name="country" placeholder="country" required="" />
								</div>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-12">
									<div class="custom-radio-group" id="custom-radio-group-2">
										<div class="custom-control">
											<input class="custom-control-input" type="radio" id="customRadioInline4" name="customRadioInline4" />
											<label for="customRadioInline4">i agree to the <a href="javascript:void(0)">terms and conditions </a></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-12">
									<button class="btn btn--secondary w-100" type="submit">submit request <i class="energia-arrow-right"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
